<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!( (isHandset$)  | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of navItems" [item]="item" [drawer]="drawer" [isToggleEnabled]="isToggleEnabled">

      </app-menu-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="height:45px">

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Pulp Demonstrator</span>
      <span class="spacer"></span>
      <a class="btn" [hidden]="!loggedIn" (click)="logout()" style="color:white"> <i class="fas fa-sign-out-alt"></i></a>

      <span style="font-size:14px;">
        {{heat}}
      </span>
      <div class="battery">
        <i class="batteryIcon material-icons" style="margin-top:10px">
          {{batteryIcon}}
        </i>
        <span style="font-size:14px; position:relative; bottom:5px; left: -5px; margin-right:5px">
          {{batteryLevel}}%
        </span>
      </div>
      <div>
        <button type="button" class="btn btn-circle" (click)="shutdownDialog()">
          <mat-icon matListIcon [inline]="true">
            power_settings_new
          </mat-icon>
        </button>
      </div>
      <!-- </mat-toolbar-row> -->

    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
